<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${member.name} + 'さんのToDoList'"></title>
</head>

<body>
    <h1 th:text="|ようこそ ${member.name} さん|"></h1>
    <a class="button" th:href="@{/todos/{mid}(mid=${member.mid})}">自分のToDo</a>
    <a class="button" th:href="@{/todos/{mid}/all(mid=${member.mid})}">みんなのToDo</a>
    <input type="button" value="ログアウト" onclick="location.href='http://localhost:18080/todos/home'">
    <h2>ToDo</h2>
    <table class="todolist todo">
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>ユーザ</th>
            <th>作成日</th>
            <th>アクション</th>
        </tr>
        <tr th:each="todo: ${todos}">
            <td>#[[${todo.seq}]]</td>
            <td>[[${todo.title}]]</td>
            <td>[[${todo.mid}]]</td>
            <td>[[${#dates.format(todo.createdAt, 'yyyy-MM-dd')}]]</td>
            <td>
                <th:block th:if="${todo.mid} == ${member.mid}">
                    <a class="button" th:href="@{/todos/{mid}/{seq}/done(mid=${member.mid}, seq=${todo.seq})}">Done !</a>
                </th:block>
            </td>
        </tr>
        <tr class="newtodo">
            <form role="form" th:action="@{/todos/{mid}/register(mid=${member.mid})}" th:object="${ToDoForm}" method="post">
                <td>新規</td>
                <td colspan="3" style="text-align:left;">
                    <div>
                        <label for="title">タイトル：</label>
                        <input type="text" required th:field="*{title}"/>
                    </div>
                </td>
                <td>
                    <input type="submit" value="新規作成" class="button" />
                </td>
            </form>

        </tr>
    </table>
    <h2>Done</h2>
    <table class="todolist done">
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>ユーザ</th>
            <th>完了日</th>
        </tr>
        <tr th:each="done: ${dones} ">
            <td>#[[${done.seq}]]</td>
            <td><a th:href="@{/todos/{mid}/{seq}(mid=${member.mid}, seq=${done.seq})}" th:title="${done.description}">[[${done.title}]]</a></td>
            <td>[[${done.name}]]</td>
            <td>[[${#dates.format(done.doneAt, 'yyyy-MM-dd')}]]</td>
        </tr>
    </table>
    <hr />

</body>

</html>